<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">

    <p-tabView [activeIndex]="index">
        <p-tabPanel header="Einzelheiten">
            <div class="p-fluid forms-grid" style="margin: 1em 0">
                <div class="p-col-12">
                    <div>Titel</div>
                    <p-dropdown [options]="Title" formControlName="customerTitle" placeholder="Wählen Sie den Titeltyp">
                    </p-dropdown>
                    <p-message severity="error" text="Title ist ungültig"
                        *ngIf="!userform.controls['customerTitle'].valid&&userform.controls['customerTitle'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Kundenname</div>
                    <input pInputText type="text" formControlName="customerName" />
                    <p-message severity="error" text="Kundenname ist ungültig"
                        *ngIf="!userform.controls['customerName'].valid&&userform.controls['customerName'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Telefonnummer</div>
                    <p-inputMask formControlName="telephoneNumber" mask="(9999) 9999-9999"></p-inputMask>
                    <p-message severity="error" text="Telephone Number ist ungültig"
                        *ngIf="!userform.controls['telephoneNumber'].valid&&userform.controls['telephoneNumber'].dirty">
                    </p-message>
                </div>

                <div class="p-col-12">
                    <div>Email</div>
                    <input pInputText type="text" formControlName="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                    <p-message severity="error" text="Email Number ist ungültig"
                        *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                    </p-message>
                </div>


                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                    <div>Beschreibung</div>
                    <textarea pInputTextarea type="text" formControlName="description" autoResize="true" [rows]="5"
                        [rows]="5" class="p-col-12"></textarea>
                </div>

                <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">
                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-6 p-md-6 p-lg-6">
                            <button pButton type="button" label="Nächster" (click)="openNext()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Adresse">
            <div class="p-fluid forms-grid" style="margin: 1em 0">
                <div class="p-col-12">
                    <div formArrayName="addresses"
                        *ngFor="let Address of userform.get('addresses')['controls']; let i = index;">
                        <p-fieldset legend="Adresse {{i + 1}}">
                            <div [formGroupName]="i">
                                <div class="p-col-12">
                                    <div>Adresstyp</div>
                                    <!-- <p-dropdown [options]="AddressType" formControlName="addressType"
                                        (onChange)="addressTypeChangeEvent($event, i)"
                                        placeholder="Wählen Sie den Adresstyp">

                                    </p-dropdown> -->
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-3 p-sm-12">
                                            <p-checkbox name="groupname" value="val1" [(ngModel)]="checked" formControlName="mainAddress"
                                                binary="true" label="Hauptadresse"></p-checkbox>
                                        </div>
                                        <div class="p-col-12 p-md-3 p-sm-12">
                                            <p-checkbox name="groupname" value="val2" binary="true" formControlName="shippingAddress"
                                                label="Lieferadresse"></p-checkbox>
                                        </div>
                                        <div class="p-col-12 p-md-3 p-sm-12">
                                            <p-checkbox name="groupname" value="val1" binary="true" formControlName="addressOfMachineLocations"
                                                label="Adresse von Maschinenstandorten"></p-checkbox>
                                        </div>
                                        <div class="p-col-12 p-md-3 p-sm-12">
                                            <p-checkbox name="groupname" value="val2" binary="true" formControlName="billingAddress"
                                                label="Rechnungsadresse"></p-checkbox>
                                        </div>

                                    </div>
                                </div>
                                <div class="p-col-12">
                                    <div>Hausnummer</div>
                                    <input pInputText type="number" formControlName="houseNumber" />
                                    <p-message severity="error" text="Hausnummer ist ungültig"
                                        *ngIf="!Address.controls.houseNumber.valid&&Address.controls.houseNumber.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12">
                                    <div>Straße</div>
                                    <input pInputText type="text" formControlName="street" />
                                    <p-message severity="error" text="Strasse ist ungültig"
                                        *ngIf="!Address.controls.street.valid&&Address.controls.street.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12">
                                    <div>Ort</div>
                                    <input pInputText type="text" formControlName="city" />
                                    <p-message severity="error" text="city ist ungültig"
                                        *ngIf="!Address.controls.city.valid&&Address.controls.city.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12">
                                    <div>Land</div>
                                    <p-dropdown [options]="Countries" formControlName="country"
                                        placeholder="Land auswählen"></p-dropdown>
                                    <p-message severity="error" text="country ist ungültig"
                                        *ngIf="!Address.controls.country.valid&&Address.controls.country.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12">
                                    <div>Postleitzahl</div>
                                    <input pInputText type="text" formControlName="postalCode" />
                                    <p-message severity="error" text="Postleitzahl ist ungültig"
                                        *ngIf="!Address.controls.postalCode.valid&&Address.controls.postalCode.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12">
                                    <div>Lage auf der Karte</div>
                                    <p-checkbox formControlName="locationOnMap" [binary]="true"></p-checkbox>
                                    <p-message severity="error" text="Lage auf der Karte ist ungültig"
                                        *ngIf="!Address.controls.locationOnMap.valid&&Address.controls.locationOnMap.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12" *ngIf="Address.controls.locationOnMap.value">
                                    <div>Lattitude</div>
                                    <input pInputText type="text" formControlName="lattitude" />
                                    <p-message severity="error" text="Lattitude ist ungültig"
                                        *ngIf="!Address.controls.lattitude.valid&&Address.controls.lattitude.dirty">
                                    </p-message>
                                </div>
                                <div class="p-col-12" *ngIf="Address.controls.locationOnMap.value">
                                    <div>Längengrad</div>
                                    <input pInputText type="text" formControlName="longitude" />
                                    <p-message severity="error" text="Längengrad ist ungültig"
                                        *ngIf="!Address.controls.longitude.valid&&Address.controls.longitude.dirty">
                                    </p-message>
                                </div>
                                <p-fieldset legend="Anprechpartner">
                                    <div formGroupName="contactPerson">
                                        <div class="p-col-12">
                                            <div>Vorname</div>
                                            <input pInputText type="text" formControlName="firstName" />
                                            <p-message severity="error" text="Vorname ist ungültig"
                                                *ngIf="!Address.controls.contactPerson.controls['firstName'].valid&&Address.controls.contactPerson.controls['firstName'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="p-col-12">
                                            <div>Nachname</div>
                                            <input pInputText type="text" formControlName="lastName" />
                                            <p-message severity="error" text="Nachname ist ungültig"
                                                *ngIf="!Address.controls.contactPerson.controls['lastName'].valid&&Address.controls.contactPerson.controls['lastName'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="p-col-12">
                                            <div>Telefon</div>
                                            <p-inputMask type="text" formControlName="telephone"
                                                mask="(9999) 9999-9999"></p-inputMask>
                                            <p-message severity="error" text="Telefon ist ungültig"
                                                *ngIf="!Address.controls.contactPerson.controls['telephone'].valid&&Address.controls.contactPerson.controls['telephone'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="p-col-12">
                                            <div>Email</div>
                                            <input pInputText type="text" formControlName="email"
                                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                                            <p-message severity="error" text="Email ist ungültig"
                                                *ngIf="!Address.controls.contactPerson.controls['email'].valid&&Address.controls.contactPerson.controls['email'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="p-col-12">
                                            <div>Handynummer</div>
                                            <p-inputMask type="text" formControlName="mobileNumber"
                                                mask="(9999) 9999-9999"></p-inputMask>
                                            <p-message severity="error" text="Handynummer ist ungültig"
                                                *ngIf="!Address.controls.contactPerson.controls['mobileNumber'].valid&&Address.controls.contactPerson.controls['mobileNumber'].dirty">
                                            </p-message>
                                        </div>
                                    </div>

                                </p-fieldset>
                            </div>
                        </p-fieldset>

                    </div>
                </div>

                <div class="p-fluid forms-grid" style="margin: 1em 0">
                    <div class="p-col-6">
                        <button pButton type="button" icon="pi pi-plus" title="Fügen Sie mehr hinzu"
                            (click)="addMoreAddress()"></button>
                    </div>
                    <div class="p-col-6">
                        <button pButton type="button" icon="pi pi-minus" title="entfernen" (click)="removeAddress()"
                            [disabled]='Addresses.length == 1'></button>
                    </div>
                </div>

                <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">


                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-6 p-md-6 p-lg-6"><button pButton type="submit" [disabled]="!userform.valid"
                                label="Kunden hinzufügen"></button></div>
                        <div class="p-col-6 p-md-6 p-lg-6">
                            <button pButton type="button" label="Verwerfen" [disabled]="!userform.valid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

</form>


<p-dialog header="Kundeninformation" [(visible)]="CustomerNumberDialog" [modal]="true" [style]="{width: '50%'}"
    [baseZIndex]="10000" [draggable]="true" [resizable]="true" [transitionOptions]="'2000ms'">

    <p-messages [(value)]="msgs"></p-messages>

    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                <h3>die vergebene Kundennummer lautet:</h3>
            </div>
            <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                <h3>{{CustomerUniqueNumber}}</h3>
            </div>
        </div>
    </div>
    <div class="p-fluid forms-grid">
    </div>
    <!-- <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <p-messages [(value)]="message"></p-messages>
        <p-tabView>

            <div class="p-fluid forms-grid" style="margin: 1em 0">
                <div class="p-col-12" *ngIf="Machine">
                    <div>Maschine Name: </div>
                    {{Machine.machineName}}
                </div>
                <div class="p-col-12" *ngIf="Machine">
                    <div>Maschine Nummer: </div>
                    {{Machine.machineNumber}}
                </div>
                <div class="p-col-12">
                    <div>Select Customer</div>
                    <p-dropdown [options]="Customers" placeholder="Select Customer" formControlName="CustomerId">
                    </p-dropdown>
                    <p-message severity="error" text="Customer is required"
                        *ngIf="!userform.controls['CustomerId'].valid&&userform.controls['CustomerId'].dirty">
                    </p-message>
                </div>
            </div>
        </p-tabView>

        <p-footer>
            <button type="submit" pButton icon="pi pi-check" label="Maschine dem Kunden hinzufügen"></button>
            &nbsp;&nbsp;
            <button type="button" pButton icon="pi pi-times" (click)="machineModal=false" label="Verwerfen"
                class="ui-button-secondary"></button>
        </p-footer>
    </form> -->
</p-dialog>