<p-messages [value]="msgs" [closable]="true"></p-messages>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
  
        <p-tabView [activeIndex]="index">
            
            <p-tabPanel header="Einzelheiten" >
                <div class="p-fluid forms-grid" style="margin: 1em 0">
                    <div class="p-col-12">
                        <div>Stock Name</div>
                        <input pInputText type="text" formControlName="StockName" />
                        <p-message severity="error" text="Stock Name is required"
                            *ngIf="!userform.controls['StockName'].valid&&userform.controls['StockName'].dirty">
                        </p-message>
                    </div>
                    <div class="p-col-12">
                        <div>Nummer</div>
                        <input pInputText type="text" formControlName="StockCode" />
                        <p-message severity="error" text="Stock Code is required"
                            *ngIf="!userform.controls['StockCode'].valid&&userform.controls['StockCode'].dirty">
                        </p-message>
                    </div>

                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
                                <div>Unit Type</div>
                                <p-dropdown placeholder="Select units" [options]="Units"
                                    formControlName="StockUnitType">
                                </p-dropdown>
                                <p-message severity="error" text="Stock Unit Type is required"
                                    *ngIf="!userform.controls['StockUnitType'].valid&&userform.controls['StockUnitType'].dirty">
                                </p-message>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
                                <div>Unit/Stuck</div>
                                <input pInputText type="text" formControlName="StockUnit" />
                                <p-message severity="error" text="Stock Unit is required"
                                    *ngIf="!userform.controls['StockUnit'].valid&&userform.controls['StockUnit'].dirty">
                                </p-message>
                            </div>
                        </div>

                    </div>

                    <div class="p-col-12">
                        <div>Select Container</div>
                        <p-dropdown placeholder="Select owner" [options]="Owners" formControlName="StockOwner">
                        </p-dropdown>
                        <p-message severity="error" text="Stock Owner is required"
                            *ngIf="!userform.controls['StockOwner'].valid&&userform.controls['StockOwner'].dirty">
                        </p-message>
                    </div>
                    
                    <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                        <div>Description</div>
                        <textarea pInputTextarea type="text" formControlName="description" autoResize="true"
                            [rows]="5" ></textarea>
                    </div>
                    
                </div>
            </p-tabPanel>

            <p-tabPanel header="File Uploader">
                <div class="p-fluid forms-grid" style="margin: 1em 0">
                    <div class="p-col-12 p-md-6 p-lg-12 p-sm-6">
                        <div>Stock Images</div>
                        <p-fileUpload name="myfile[]" url="{{uploadURL}}" (onUpload)="uploader($event)"
                            multiple="multiple" accept="image/*" capture>
                            <ng-template pTemplate="content">
                                <ul *ngIf="files.length">
                                    <li *ngFor="let file of files">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>

                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6"><button pButton type="submit" label="Add Stock"
                                    [disabled]="!userform.valid"></button></div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="button" label="Cancel " [disabled]="!userform.valid"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>    
</form>