<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-tabView [activeIndex]="index">
        <p-tabPanel header="Details">
            <div class="p-fluid forms-grid" style="margin: 1em 0">

                <div class="p-col-12">
                    <div>Article Number</div>

                    <p-autoComplete [suggestions]="prefixes" formControlName="ArticleNumber"
                        (completeMethod)="filterBrands($event)" [size]="30" [minLength]="1"
                        placeholder="Search For Suppliers" [dropdown]="true" (onSelect)="selection($event)">
                        <ng-template let-prefix pTemplate="prefixes">
                            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">                                
                                <div style="width:32px;display:inline-block;margin:5px 0 2px 5px">{{prefix.label}}</div>

                                <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{prefix.value}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>

                    <p-message severity="error" text="Article Number is required"
                        *ngIf="!userform.controls['ArticleNumber'].valid&&userform.controls['ArticleNumber'].dirty">
                    </p-message>

                </div>

                <div class="p-col-12">
                    <div>Article Name</div>
                    <input pInputText type="text" formControlName="ArticleName" />
                    <p-message severity="error" text="ArticleNumber is required"
                        *ngIf="!userform.controls['ArticleName'].valid&&userform.controls['ArticleName'].dirty">
                    </p-message>
                </div>

                <div class="p-col-12">
                    <div>Article Unit</div>
                    <p-dropdown placeholder="Select units" [options]="Units" formControlName="ArticleUnit">
                    </p-dropdown>
                    <p-message severity="error" text="Article Unit Type is required"
                        *ngIf="!userform.controls['ArticleUnit'].valid&&userform.controls['ArticleUnit'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Article Quantity</div>
                    <input pInputText type="text" formControlName="ArticleQuantity" />
                    <p-message severity="error" text="ArticleQuantity is required"
                        *ngIf="!userform.controls['ArticleQuantity'].valid&&userform.controls['ArticleQuantity'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Barcode</div>
                    <input pInputText type="text" formControlName="Barcode" />
                    <p-message severity="error" text="Barcode is required"
                        *ngIf="!userform.controls['Barcode'].valid&&userform.controls['Barcode'].dirty"></p-message>
                </div>
                <div class="p-col-12">
                    <div>Price</div>
                    <input pInputText type="text" formControlName="Price" />
                    <p-message severity="error" text="Price is required"
                        *ngIf="!userform.controls['Price'].valid&&userform.controls['Price'].dirty"></p-message>
                </div>
                <div class="p-col-12">
                    <div>Selling Price</div>
                    <input pInputText type="text" formControlName="SellingPrice" />
                    <p-message severity="error" text="Selling Price is required"
                        *ngIf="!userform.controls['SellingPrice'].valid&&userform.controls['SellingPrice'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Select Stock</div>
                    <p-dropdown placeholder="Select stocks" [options]="Stocks" formControlName="StockId">
                    </p-dropdown>
                    <p-message severity="error" text="Stock is required"
                        *ngIf="!userform.controls['StockId'].valid&&userform.controls['StockId'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Buying Price</div>
                    <input pInputText type="text" formControlName="BuyingPrice" />
                    <p-message severity="error" text="Buying Price is required"
                        *ngIf="!userform.controls['BuyingPrice'].valid&&userform.controls['BuyingPrice'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <div>Description</div>
                    <textarea pInputTextarea type="text" formControlName="ArticleDescription"></textarea>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="File Uploader">
            <div class="p-fluid forms-grid" style="margin: 1em 0">
                <div class="p-col-12 p-md-6 p-lg-12 p-sm-6">
                    <div>Article Images</div>
                    <p-fileUpload name="myfile[]" url="{{uploadURL}}" (onUpload)="uploader($event)" multiple="multiple"
                        accept="image/*" capture>
                        <ng-template pTemplate="content">
                            <ul *ngIf="files.length">
                                <li *ngFor="let file of files">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>

                </div>

                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-6 p-md-6 p-lg-6"><button pButton type="submit" label="Add Article"
                                [disabled]="!userform.valid"></button></div>
                        <div class="p-col-6 p-md-6 p-lg-6">
                            <button pButton type="button" label="Cancel " [disabled]="!userform.valid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</form>