<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-tabView [activeIndex]="index">
        <p-tabPanel header="Einzelheiten">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-lg-6 p-md-12 p-sm-12">
                            <p-fieldset legend="Maschinendetails">

                                <div class="p-col-12">
                                    <div>Maschinentyp</div>
                                    <p-dropdown placeholder="Select Type" [options]="MachineAttributeType"
                                        formControlName="machineryType"></p-dropdown>
                                    <p-message severity="error" text="Spezialität ist ungültig"
                                        *ngIf="!this.userform.controls['MachineAttributes']['controls']['machineryType'].valid
                                            &&this.userform.controls['MachineAttributes']['controls']['machineryType'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-12">
                                    <div>Seriennummer des Herstellers</div>
                                    <input pInputText type="text" formControlName="MachineNumber" />
                                    <p-message severity="error" text="Customer Name ist ungültig"
                                        *ngIf="!userform.controls['MachineNumber'].valid&&userform.controls['MachineNumber'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-12">
                                    <div>Maschinenhersteller</div>
                                    <p-dropdown placeholder="Select Maschinenhersteller" [options]="MachineManufacturer"
                                        formControlName="ManufacturerId"></p-dropdown>
                                    <p-message severity="error" text="Maschinenhersteller ist ungültig"
                                        *ngIf="!userform.controls['ManufacturerId'].valid&&userform.controls['ManufacturerId'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                                    <div>Barcode</div>
                                    <input pInputText type="text" formControlName="Barcode" />
                                    <p-message severity="error" text="Barcode ist ungültig"
                                        *ngIf="!userform.controls['Barcode'].valid&&userform.controls['Barcode'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-12">
                                    <div>Maschinenbezeichnung beim Kunden</div>
                                    <input pInputText type="text" formControlName="MachineName" />
                                    <p-message severity="error" text="Machine Name ist ungültig"
                                        *ngIf="!userform.controls['MachineName'].valid&&userform.controls['MachineName'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                                    <div>Baujahr</div>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                                        [readonlyInput]="true" formControlName="DateOfManufacture">
                                    </p-calendar>
                                </div>

                                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                                    <div>Verkaufsdatum</div>
                                    <p-calendar [touchUI]="true" [monthNavigator]="true" [yearNavigator]="true"
                                        yearRange="1950:2030" [readonlyInput]="true" formControlName="DateOfSelling">
                                    </p-calendar>
                                </div>

                                <!-- <div class="p-col-12">
                                    <div>Standort des Gerätes</div>
                                    <input pInputText type="text" formControlName="Address" />
                                    <p-message severity="error" text="Address ist ungültig"
                                        *ngIf="!userform.controls['Address'].valid&&userform.controls['Address'].dirty">
                                    </p-message>
                                </div> -->

                                <div class="p-col-12">
                                    <div>Adresse auf Karte zeigen</div>
                                    <p-checkbox formControlName="LocationOnMap" [binary]="true"></p-checkbox>
                                </div>

                                <div class="p-col-12" *ngIf="userform.value.LocationOnMap">
                                    <div>Lattitude</div>
                                    <input pInputText type="text" formControlName="Lattitude" />
                                    <p-message severity="error" text="Lattitude ist ungültig"
                                        *ngIf="!userform.controls['Lattitude'].valid&&userform.controls['Lattitude'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-12" *ngIf="userform.value.LocationOnMap">
                                    <div>Längengrad</div>
                                    <input pInputText type="text" formControlName="Longitude" />
                                    <p-message severity="error" text="Longitude ist ungültig"
                                        *ngIf="!userform.controls['Longitude'].valid&&userform.controls['Longitude'].dirty">
                                    </p-message>
                                </div>

                                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                                    <div class="p-grid">
                                        <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                                            <div>letzte UVV Prüfung durchgeführt <br> ( manuell erstellt )</div>
                                            <p-calendar [touchUI]="true" [monthNavigator]="true" [yearNavigator]="true"
                                                yearRange="1950:2030" [readonlyInput]="true" formControlName="TestDate">
                                            </p-calendar>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                                            <div>letzte UVV Prüfung durchgeführt <br> ( automatisch erstellt )</div>
                                            <p-calendar [touchUI]="true" [monthNavigator]="true" [yearNavigator]="true"
                                                yearRange="1950:2030" [readonlyInput]="true" formControlName="TestDate" [disabled]="true">
                                            </p-calendar>
                                        </div>
                                    </div>

                                </div>

                                <div class="p-col-6 p-md-6 p-lg-12 p-sm-6">
                                    <div class="p-grid">
                                        <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                                            <div>Nächste UVV Prüfung bis spätestens <br> (manuell erstellt)</div>
                                            <p-calendar [touchUI]="true" [monthNavigator]="true" [yearNavigator]="true"
                                                yearRange="1950:2030" [readonlyInput]="true"
                                                formControlName="UvvValidDate">
                                            </p-calendar>
                                            <p-message severity="error" text="Barcode ist ungültig"
                                                *ngIf="!userform.controls['UvvValidDate'].valid&&userform.controls['UvvValidDate'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-6 p-sm-6">
                                            <div>Nächste UVV Prüfung bis spätestens <br> (automatisch erstellt)</div>
                                            <p-calendar [touchUI]="true" [monthNavigator]="true" [yearNavigator]="true"
                                                yearRange="1950:2030" [readonlyInput]="true"
                                                formControlName="UvvValidDate" [disabled]="true">
                                            </p-calendar>
                                            <p-message severity="error" text="Barcode ist ungültig"
                                                *ngIf="!userform.controls['UvvValidDate'].valid&&userform.controls['UvvValidDate'].dirty">
                                            </p-message>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-col-12">
                                    <div>Maschinenstatus</div>
                                    <p-dropdown placeholder="Select Maschinenstatus" [options]="MachineStatus"
                                        formControlName="MachineStatusId"></p-dropdown>
                                    <p-message severity="error" text="Maschinenstatus ist ungültig"
                                        *ngIf="!userform.controls['MachineStatusId'].valid&&userform.controls['MachineStatusId'].dirty">
                                    </p-message>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="p-col-12 p-lg-6 p-md-12 p-sm-12">
                            <p-fieldset legend="Maschinenattribute">
                                <div formGroupName="MachineAttributes">
                                    <div class="p-col-12">
                                        <div>Ortsveränderlichkeit</div>
                                        <p-dropdown placeholder="Select Type" [options]="MachineAttributeType"
                                            formControlName="machineryType"></p-dropdown>
                                        <p-message severity="error" text="Spezialität ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['machineryType'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['machineryType'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12">
                                        <div>Ende der Garantiezeit</div>
                                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                                            formControlName="garunteeEndDate"></p-calendar>
                                        <p-message severity="error" text="Spezialität ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['garunteeEndDate'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['garunteeEndDate'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12">
                                        <div>Kundengerät von uns geliefert</div>
                                        <p-checkbox formControlName="customerDeviceDelivered" [binary]="true">
                                        </p-checkbox>
                                        <p-message severity="error" text="Kundengerät Geliefert ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['customerDeviceDelivered'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['customerDeviceDelivered'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12"
                                        *ngIf="this.userform.controls['MachineAttributes']['controls']['customerDeviceDelivered'].value">
                                        <div>Lieferdatum</div>
                                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                                            formControlName="deliveryDate"></p-calendar>
                                        <p-message severity="error" text="Lieferdatum ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['deliveryDate'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['deliveryDate'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12">
                                        <div>Gebrauchtmaschine</div>
                                        <p-checkbox formControlName="usedMachine" [binary]="true"></p-checkbox>
                                        <p-message severity="error" text="Gebrauchtmaschine ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['usedMachine'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['usedMachine'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12"
                                        *ngIf="this.userform.controls['MachineAttributes']['controls']['usedMachine'].value">
                                        <div>Name des Vorbesitzers</div>
                                        <p-dropdown placeholder="Select Vorbesitzers" [options]="PreviousCustomers"
                                            formControlName="previousOwner"></p-dropdown>
                                        <p-message severity="error" text="Spezialität ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['previousOwner'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['previousOwner'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12">
                                        <div>Maschine ist verschrottet</div>
                                        <p-checkbox formControlName="isScrapped" [binary]="true"></p-checkbox>
                                        <p-message severity="error" text="Verschrottet ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['isScrapped'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['isScrapped'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-col-12"
                                        *ngIf="this.userform.controls['MachineAttributes']['controls']['isScrapped'].value">
                                        <div>Verschrottet Datum</div>
                                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"
                                            formControlName="scrappedDate"></p-calendar>
                                        <p-message severity="error" text="Verschrottet Datum ist ungültig"
                                            *ngIf="!this.userform.controls['MachineAttributes']['controls']['scrappedDate'].valid
                                                &&this.userform.controls['MachineAttributes']['controls']['scrappedDate'].dirty">
                                        </p-message>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </div>
            </div>


            <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6">
                        <button pButton type="button" label="Nächster" (click)="openNext()"></button>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <!-- <p-tabPanel header="Maschinenspezialität">
            <p-fieldset legend="Maschinenattribute">
                <div class="p-fluid forms-grid">
                    <div class="p-col-12">
                        <div>Maschinenstatus</div>
                        <p-dropdown placeholder="Select Maschinenstatus" [options]="MachineStatus"
                            formControlName="MachineStatusId"></p-dropdown>
                        <p-message severity="error" text="Maschinenstatus ist ungültig"
                            *ngIf="!userform.controls['MachineStatusId'].valid&&userform.controls['MachineStatusId'].dirty">
                        </p-message>
                    </div>
                    <div class="p-col-12">
                        <div>Maschinentyp</div>
                        <p-dropdown placeholder="Select Maschinentyp" [options]="MachineType"
                            formControlName="MachineTypeId"></p-dropdown>
                        <p-message severity="error" text="Maschinentyp ist ungültig"
                            *ngIf="!userform.controls['MachineTypeId'].valid&&userform.controls['MachineTypeId'].dirty">
                        </p-message>
                    </div>

                    <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">
                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="submit" label="Kunden hinzufügen"
                                    [disabled]="!userform.valid"></button>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="button" label="Cancel" [disabled]="!userform.valid"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>

        </p-tabPanel> -->

        <p-tabPanel header="Maschinendokumente">
            <p-fieldset legend="Maschinenattribute">
                <div class="p-fluid forms-grid">
                    <div class="p-col-12">
                        <div>UVV Prüfberichte</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Reperaturrechnungen</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Reperaturaufträge</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Ersatzteilliste</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Bedienungsanleitung</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Schriftverkehr speziell für diese Maschine</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)" chooseLabel="Auswahl"></p-fileUpload>
                    </div>

                    <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="button" label="Nächster" (click)="openNext()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>

        </p-tabPanel>

        <p-tabPanel header="Maschinenbilder">
            <p-fieldset legend="Machine-Foto">
                <div class="p-fluid forms-grid">
                    <div class="p-col-12">
                        <div>Bild der gesamten Maschine</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Typenschild</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Zubehör</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>besonderer Defekte</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Foto der Aufbau und Anschlußsituation</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>
                    <div class="p-col-12">
                        <div>Reperaturfotos nach Datum</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>

                    <div class="p-col-12">
                        <div>Bilder des Kunden</div>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                            maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                    </div>

                    <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">
                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="submit" label="der Maschine hinzufügen"
                                    [disabled]="!userform.valid"></button>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <button pButton type="button" label="Verwerfen" [disabled]="!userform.valid"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>

        </p-tabPanel>

    </p-tabView>

</form>