
<p-table [paginator]="true" [value]="customers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
            <th>Addresses</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.customerName}}</td>
            <td>{{customer.description}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.addresses}}</td>
        </tr>
    </ng-template>
</p-table>
