<div class="p-grid p-justify-between">
    <div class="p-col">
        <p-panel header="Auftrag/Lieferschein">
            <form [formGroup]="auftragForm" (ngSubmit)="generateAuftrag(auftragForm.value)">
                <div class="p-grid p-justify-between">
                    <div class="p-col-6">
                        <div class="ui-fluid">
                            <div class="p-grid">
                                <div class="p-col-3 p-md-3 p-sm-3">
                                    <img #img src="../../../assets/buchHolz-Logo.png" style="float: left;"  alt="Logo" width="auto" height="auto"/>
                                </div>
                                <div class="p-col-12 p-md-6">
                                    <h4>Reinigungssystem Nord</h4>

                                    <p>                                        
                                        Fachcenter Buchholz GmbH
                                        <br>
                                        Eiderkamp 30
                                        <br>
                                        24220 Flintbek
                                        <br>
                                        (Zufahrt über Hörn)
                                        <br>
                                        info@buchholz-fachcenter.de
                                        <br>
                                        Telefon:01622310000
                                        <br>
                                        HRB 21338 KI
                                        <br>
                                        Ust: DE327249474
                                        <br>
                                        Geschäftsführer: Dipl.–Ing. Timur Serbay
                                    </p>

                                </div>
                            </div>

                            <p-fieldset legend="Information">
                                <div class="p-field">
                                    <label for="customerNumber">Kunde/Nr.</label>
                                    <input id="customerNumber" formControlName="customerNumber" type="text" pInputText>
                                </div>
                                <div class="p-field">
                                    <label for="strasse">Straße</label>
                                    <input id="strasse" formControlName="strasse" type="text" pInputText>
                                </div>
                                <div class="p-field">
                                    <label for="postal">PLZ/Ort</label>
                                    <input id="postal" type="text" pInputText formControlName="postal">
                                </div>
                                <div class="p-field">
                                    <label for="telephone">Telefon</label>
                                    <input id="telephone" type="text" pInputText formControlName="telephone">
                                </div>
                                <div class="p-field">
                                    <label for="mobile">Handy</label>
                                    <input id="mobile" type="text" pInputText formControlName="mobile">
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-fluid p-formgrid">
                            <p-fieldset legend="Andere Information">
                                <div class="p-field p-col">
                                    <label for="deviceType">Gerate-Typ</label>
                                    <input id="deviceType" type="text" pInputText formControlName="deviceType">
                                </div>
                                <div class="p-field p-col">
                                    <label for="serialNumber">SN-Nr.</label>
                                    <input id="serialNumber" type="text" pInputText formControlName="serialNumber">
                                </div>
                                <div class="p-field p-col">
                                    <label for="requestDate">Angefordert am:</label>
                                    <p-calendar [touchUI]="true" placeholder="Angefordert am:" [defaultDate]="today"
                                        [minDate]="today" formControlName="requestDate"></p-calendar>
                                </div>
                                <div class="p-field p-col">
                                    <label for="employeeName">Durch</label>
                                    <input id="employeeName" type="text" pInputText formControlName="employeeName">
                                </div>

                                <div class="p-field p-col">
                                    <label for="mail">Mail</label>
                                    <input id="mail" type="text" pInputText formControlName="mail">
                                </div>
                                <div class="p-field p-col">
                                    <label for="besteilNr">Besteil Nr: </label>
                                    <input id="besteilNr" type="text" pInputText formControlName="besteilNr">
                                </div>
                                <div class="p-field p-col">
                                    <div>
                                        <p-checkbox name="Auslieferung" value="Auslieferung" label="Auslieferung"
                                            formControlName="Auslieferung" [binary]="true">
                                        </p-checkbox>
                                    </div>
                                    <div>
                                        <p-checkbox name="Reparatur" value="Reparatur" label="Reparatur"
                                            formControlName="Reparatur" [binary]="true">
                                        </p-checkbox>
                                    </div>
                                    <div>
                                        <p-checkbox name="Wartung" value="Wartung" label="Wartung"
                                            formControlName="Wartung" [binary]="true">
                                        </p-checkbox>
                                    </div>
                                    <div>
                                        <p-checkbox name="Sonstiges" value="Sonstiges" label="Sonstiges"
                                            formControlName="Sonstiges" [binary]="true">
                                        </p-checkbox>
                                    </div>
                                </div>
                            </p-fieldset>

                        </div>
                    </div>

                    <hr style="width:100%;text-align:left;margin-left:0">

                    <div class="p-col-12">
                        <h3>Fehler:</h3>
                        <div class="p-col-12">
                            <textarea pInputTextarea formControlName="description"></textarea>
                        </div>
                    </div>


                    <div class="p-col-12">
                        <h3>Materialverbrauch/Material hinzufügen:</h3>
                    </div>

                    <div class="p-col-6">
                        <div class="ui-fluid">
                            <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
                                <p-fieldset legend="Information">
                                    <div class="p-field">
                                        <label for="stock">Stck.</label>
                                        <input pInputText type="text" formControlName="stock" />
                                        <p-message severity="error" text="Stock is required"
                                            *ngIf="!userform.controls['stock'].valid&&userform.controls['stock'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-field">
                                        <label for="articles">Teile-Nr.</label>
                                        <p-dropdown [options]="articles" [(ngModel)]="selectedArticle" filter="true"
                                            formControlName="articleNumber">
                                            <ng-template let-articles pTemplate="item">
                                                <div class="ui-helper-clearfix"
                                                    style="position: relative;height: 25px;">
                                                    <div style="font-size:14px;float:left;margin-top:4px">
                                                        {{articles.label}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>

                                        <p-message severity="error" text="Articles is required"
                                            *ngIf="!userform.controls['articleNumber'].valid&&userform.controls['articleNumber'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-field">
                                        <label for="description">Bezeichnung</label>
                                        <input id="description" type="text" pInputText formControlName="description">
                                        <p-message severity="error" text="Description is required"
                                            *ngIf="!userform.controls['description'].valid&&userform.controls['description'].dirty">
                                        </p-message>
                                    </div>
                                    <div class="p-field">
                                        <label for="price">Preis € (netto)</label>
                                        <input id="price" type="text" pInputText formControlName="price">
                                        <p-message severity="error" text="Stock is required"
                                            *ngIf="!userform.controls['price'].valid&&userform.controls['price'].dirty">
                                        </p-message>
                                    </div>

                                    <div class="p-field">
                                        <button pButton type="submit" icon="pi pi-plus" title="Material hinzufügen"
                                            [disabled]="materialList.length === 15 || !userform.valid"
                                            style="margin-right: .5em"></button>
                                        <button pButton type="button" icon="pi pi-minus" title="Material entfernen"
                                            (click)="removeColumn()" [disabled]="materialList.length === 0"></button>

                                    </div>
                                </p-fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-fluid">
                            <p-table #table sortMode="multiple" [value]="materialList" [paginator]="true" [rows]="10"
                                [responsive]="true" [rowsPerPageOptions]="[9,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Stock</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Article Number</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-material>
                                    <tr>
                                        <td>{{material.stock}}</td>
                                        <td>{{material.description}}</td>
                                        <td>{{material.price}}</td>
                                        <td>{{material.articleNumber}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-material>
                                    <tr>
                                        <td colspan="4">
                                            No records found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>


                    <div class="p-col-12">
                        <div class="p-col-4">
                            <p-calendar placeholder="Datum" formControlName="date" [touchUI]="true"></p-calendar>
                        </div>
                        <div class="p-col-4">
                            <input id="firstname2" type="text" pInputText placeholder="Arbeitszeit"
                                formControlName="hours">
                        </div>
                        <div class="p-col-4">
                            <input id="firstname3" type="text" pInputText placeholder="Fahrtkosten-Zone"
                                formControlName="drivingZone">
                        </div>
                    </div>

                    <hr style="width:100%;text-align:left;margin-left:0">

                    <div class="p-col-12">
                        <h3>Hinweis</h3>
                        <p>
                            Die Reparaturarbeiten wurden wie vereinbart durchgeführt und die Maschine in einwandfreiem
                            Zustan
                            übernommen. Solten sich trotzdem versteckte, nicht aufgetretrne/ Fehler
                            zeigen, reklamieren Sie bitte innerhalb von 3 Tagen
                        </p>
                        <h2>
                            Die Ware Bleibt, auch im verarbeiteten Zustand, bis zur restlosen Bezahlung unser Eigentum.
                        </h2>
                        <div class="p-grid">
                            <div class="p-col-6">
                                <ng-signature-pad format="base64" (done)="showImage($event)" [showDoneButton]="false"
                                    [clearButtonClass]="clearClass" [clearButtonText]="cleatText" #EmployeeSignature>
                                </ng-signature-pad>
                                <span>Unterschrift des Monteurs</span>
                            </div>
                            <div class="p-col-6">
                                <ng-signature-pad format="base64" (done)="showImage($event)" [showDoneButton]="false"
                                    [clearButtonClass]="clearClass" [clearButtonText]="cleatText" #KundenSignature>
                                </ng-signature-pad>
                                <span>Unterschrift des Kunden</span>
                                <small>(Name in Druckbuchstaben)</small>

                            </div>
                        </div>
                    </div>

                </div>
                <hr style="width:100%;text-align:left;margin-left:0">

                <div class="p-grid p-justify-center">
                    <div class="p-col-6">
                        <button pButton type="submit" icon="pi pi-save " label="Speichern"
                            class="ui-button-raised ui-button-rounded"></button>
                    </div>
                    <div class="p-col-6">
                        <button pButton type="button" icon="pi pi-times " label="Aufheben"
                            class="ui-button-raised ui-button-rounded"></button>
                    </div>
                </div>
            </form>
        </p-panel>
    </div>
</div>