
<app-login-layout></app-login-layout>

<div class="p-grid p-justify-between">
    <div class="p-col-12 p-md-12 p-lg-12">
        <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <p-panel header="Hier anmelden">
                <div class="p-fluid forms-grid" style="margin: 1em 0">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <div>User Name</div>
                        <input pInputText type="text" formControlName="firstname"/>
                        <p-message severity="error" text="Firstname is required"
                            *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                        </p-message>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <div>Password</div>
                        <input pInputText type="password" formControlName="password" />
                        <p-message severity="error"
                            [text]="userform.controls['password'].errors['required'] ? 'Password is required' : userform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
                            *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        </p-message>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <button pButton type="submit" label="Login" [disabled]="!userform.valid"></button>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>