<div class="p-fluid forms-grid" style="margin: 1em 0">
    <div class="p-col-12">
        <p-table #dt [value]="AllMachines" [scrollable]="true" selectionMode="single"
            (onRowSelect)="onRowSelect($event)" [(selection)]="Machine" dataKey="machineNumber" [paginator]="true"
            [rows]="10" [globalFilterFields]="['machineNumber']" [loading]="loading" [filterDelay]="1"
            dataKey="machineNumber">
            <ng-template pTemplate="caption">
                Maschinenliste
                <div class="ui-table-globalfilter-container">
                    <input type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Suche" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Maschinennummer</th>
                    <th>Herstellerin</th>
                    <th>Adresse</th>
                    <th>Barcode</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-AllMachines>
                <tr [pSelectableRow]="AllMachines">
                    <td>{{AllMachines.machineNumber}}</td>
                    <td>{{AllMachines.manufacturer.manufacturer}}</td>
                    <td>{{AllMachines.address}}</td>
                    <td>{{AllMachines.barcode}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Maschine" [(visible)]="machineModal" [modal]="true" [style]="{width: '50%'}" [baseZIndex]="10000"
    [draggable]="true" [resizable]="true">
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <p-messages [(value)]="message"></p-messages>
        <p-tabView>

            <div class="p-fluid forms-grid" style="margin: 1em 0">
                <div class="p-col-12" *ngIf="Machine">
                    <div>Maschine Name: </div>
                    {{Machine.machineName}}
                </div>
                <div class="p-col-12" *ngIf="Machine">
                    <div>Maschine Nummer: </div>
                    {{Machine.machineNumber}}
                </div>
                <div class="p-col-12">
                    <div>Select Customer</div>
                    <p-dropdown [options]="Customers" placeholder="Select Customer" formControlName="CustomerId">
                    </p-dropdown>
                    <p-message severity="error" text="Customer is required"
                        *ngIf="!userform.controls['CustomerId'].valid&&userform.controls['CustomerId'].dirty">
                    </p-message>
                </div>
            </div>
        </p-tabView>

        <p-footer>
            <button type="submit" pButton icon="pi pi-check" label="Maschine dem Kunden hinzufügen"></button>
            &nbsp;&nbsp;
            <button type="button" pButton icon="pi pi-times" (click)="machineModal=false" label="Verwerfen"
                class="ui-button-secondary"></button>
        </p-footer>
    </form>
</p-dialog>