<div class="p-fluid forms-grid" style="margin: 1em 0">
    <div class="p-col-12">
        <p-table [value]="AllMachines" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th>Maschinennummer</th>
                    <th>Herstellerin</th>
                    <th>Adresse</th>
                    <th>Barcode</th>
                    <th>Kunde</th>
                    <th>UVV Datum</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-AllMachines>
                <tr>
                    <td>{{AllMachines.machineNumber}}</td>
                    <td>{{AllMachines.manufacturer.manufacturer}}</td>
                    <td>{{AllMachines.address}}</td>
                    <td>{{AllMachines.barcode}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let rw of AllMachines.customerMachine">
                                {{rw.customerName}}
                            </li>
                        </ul>
                    </td>
                    <td>{{AllMachines.testDate}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>