
<app-user-layout></app-user-layout>


<div class="p-grid p-justify-between">
    <div class="">
        <p-panel header="Sicherheitsprüfung">
            <div class="p-grid p-justify-center" style=" text-align: center;">
                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3">
                            <img #img src="../../../assets/buchHolz-Logo.png" alt="Logo">
                        </div>
                        <div class="p-col-9">
                            <h4>Reinigungssystem Nord</h4>
                            <p>
                                Fachcenter Buchholz GmbH | Eiderkamp 30 |
                                24220 Flintbek | (Zufahrt über Hörn)
                                <br>
                                info@buchholz-fachcenter.de | Telefon:01622310000 | HRB 21338 KI
                                <br>
                                Ust: DE327249474 | Geschäftsführer: Dipl.–Ing. Timur Serbay
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <h3>
                            Uberprufung nach den Unfallverhutungsvorschriften und Sicherheitsregeln {{ machine }} und
                            {{ machineNumber }} und Uberprufung und Einstellung
                            gemäß den Forderungen des Bundesimmissionsschutzgesetzes*.
                            (Dient als Nachweis fur die Durchführung der Wiederholungsprüfung. Gut aufberwahren!)
                        </h3>
                    </div>
                </div>
            </div>

            <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

            <form>
                <div class="p-grid p-justify-between">
                    <div class="p-col-6">
                        <div class="ui-float-label">
                            <input id="float-Betreiber" pInputText type="text" />
                            <label for="float-Betreiber">Betreiber</label>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-float-label">
                            <input id="float-Werk-Nr" pInputText type="text" />
                            <label for="float-Werk-Nr">Werk-Nr</label>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-float-label">
                            <input id="float-Baujahr" pInputText type="text" />
                            <label for="float-Baujahr">Baujahr</label>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-float-label">
                            <input id="float-Gerätetyp" pInputText type="text" />
                            <label for="float-Gerätetyp">Gerätetyp</label>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="ui-float-label">
                            <input id="float-Kunden-Nr" pInputText type="text" />
                            <label for="float-Kunden-Nr">Kunden-Nr</label>
                        </div>
                    </div>
                </div>

                <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

                <div class="p-col-12 p-md-12">
                    <p-tabView>
                        <p-tabPanel header="Prüfung gem {{machine}}">
                            <p-table [value]="properties" [responsive]="true" [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sno. </th>
                                        <th>Prufung</th>
                                        <th>Funktion</th>
                                        <th>Aktion</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-properties let-i="rowIndex">
                                    <tr>
                                        <td class="p-justify-center">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{properties.testName}}
                                        </td>
                                        <td>
                                            {{properties.function}}
                                        </td>
                                        <td>
                                            <p-checkbox [binary]="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Überprüfung gemäß Bundesimmissionsschutzgesetz">
                            <p-table [value]="immissionControl" [responsive]="true" [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sno. </th>
                                        <th>Prufung</th>
                                        <th>Ermittelter Wert</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-immissionControl let-i="rowIndex">
                                    <tr>
                                        <td class="p-justify-center">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{immissionControl.testName}}
                                        </td>
                                        <td *ngIf="immissionControl.type != 'text'">
                                            <p-checkbox></p-checkbox>
                                        </td>
                                        <td *ngIf="immissionControl.type == 'text'">
                                            <input pInputText type="text">
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p>
                                <i>*Die oben ermittelten Werte können auch als Ausdruck des Abgasmessgerätes beigelegt
                                    werden, sie sind nicht Bestandteil der UVV</i>
                            </p>
                        </p-tabPanel>
                        <p-tabPanel header="Heisswasser">
                            <p-table [value]="hotwater" [responsive]="true" [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sno. </th>
                                        <th>Prufung</th>
                                        <th>funktion</th>
                                        <th>Aktion</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-hotwater let-i="rowIndex">
                                    <tr>
                                        <td class="p-justify-center">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{hotwater.testName}}
                                        </td>
                                        <td>
                                            {{hotwater.function}}
                                        </td>
                                        <td>
                                            <p-checkbox [binary]="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Funktionsprüfung">
                            <p-table [value]="functional" [responsive]="true" [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sno. </th>
                                        <th>Prufung</th>
                                        <th>Aktion</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-functional let-i="rowIndex">
                                    <tr>
                                        <td class="p-justify-center">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{functional.testName}}
                                        </td>
                                        <td>
                                            <p-checkbox [binary]="true"></p-checkbox>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Die nächste Wiederholungsprüfung ist spätestens fällig:">
                            <p-fieldset legend="bilden">
                                <div class="p-grid" style="margin: 1em 0">
                                    <p>
                                        Die nächste Wiederholungsprüfung ist spätestens fällig:
                                    </p>
                                    <div class="p-md-12">
                                        <div>Monat:</div>
                                        <input pInputText type="text" />
                                        <!-- <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message> -->
                                    </div>
                                    <div class="p-md-12">
                                        <div>Jahr:</div>
                                        <input pInputText type="text" />
                                        <!-- <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message> -->
                                    </div>
                                </div>
                                <p>
                                    <i>
                                        Oder gegebenenfalls früher nach betrieblicher Nutzung und betrieblichem
                                        Erfordernissen
                                    </i>
                                </p>
                            </p-fieldset>
                        </p-tabPanel>
                    </p-tabView>
                </div>

                <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

                <div class="p-col-12 p-md-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12">
                            <div>Sonstiges:</div>
                            <textarea pInputTextarea></textarea>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-12">
                    <div class="p-grid">
                        <!-- <div class="p-col-12 p-md-6">
                            <p>
                                Datum und Unterschrift des als Sachkundigen anerkannten Kundendienst-Technikers:
                            </p>
                        </div> -->

                        <div class="p-col-12 p-md-6">
                            <div>Datum</div>
                            <p-calendar [touchUI]="true"></p-calendar>
                        </div>
                        <div class="p-col-6 p-md-6">
                            <label>Unterschrift des als Sachkundigen anerkannten Kundendienst-Technikers:</label>
                            <ng-signature-pad format="base64" [showDoneButton]="false" [clearButtonClass]="clearClass"
                                [clearButtonText]="cleatText" #KundenSignature>
                            </ng-signature-pad>
                        </div>
                    </div>
                </div>

                <p>
                    <i>
                        *Diese Inspektion ersetzt nicht die Prüfung nach dem Bundesimmissionsschutzgesetz durch den
                        zuständigen Bezirksschornsteinfeger.
                    </i>
                </p>

                <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

                <div class="p-grid p-justify-center">
                    <div class="p-col-6">
                        <button pButton type="submit" icon="pi pi-save " label="Speichern"
                            class="ui-button-raised ui-button-rounded"></button>
                    </div>
                    <div class="p-col-6">
                        <button pButton type="button" icon="pi pi-times " label="Aufheben"
                            class="ui-button-raised ui-button-rounded"></button>
                    </div>
                </div>
            </form>
        </p-panel>
    </div>
</div>