<app-user-layout></app-user-layout>

<div class="p-grid p-justify-between">
    <div class="p-col-12 p-sm-12 p-lg-12 p-md-12">
        <p-panel header="Maschinenform">
            <div class="box">
                <h1>
                    Portal der Fa Buchholz GmbH
                </h1>
            </div>

            <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

            <div class="p-grid">
                <div class="p-col-12 p-sm-12 p-lg-2 box">
                    <div class="box">
                        <p-panelMenu [model]="items" [style]="{'width':'auto'}" [transitionOptions]="'6000ms'"></p-panelMenu>
                    </div>
                </div>
                <div class="p-col-12 p-sm-12 p-lg-10">                    
                    <div class="box">
                        Warenwirtschaftssystem der Fa Buchholz GmbH Flintbek
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
            
            <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:2%">

        </p-panel>
    </div>
</div>
