<p-panel>
    <p-header>
        <h2>Exception Occurred</h2>
    </p-header>

    <div>
        <h1>Oops!</h1>
        <p>
            We can't seem to find the page you're looking for.
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Error Code: 404
        </p>
    </div>
</p-panel>